{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="mt-5 md-5 text-center ">Créer un lieu</h2>
    <div class="container-fluid mt-5 ">
        {{ form_start(creerLieuForm) }}
        {{ form_widget(creerLieuForm) }}
        <div class="text-center mt-5">
        <input type="submit" class="btn btn-lg btn-secondary"  name="submit" >
        <button type="button" value="Annuler" class="btn btn-lg btn-secondary">
            <a class="text-white" href="{{ path('sortie_creer') }}">
                Annuler
            </a>
        </button>
        </div>
        {{ form_end(creerLieuForm) }}
    </div>
{% endblock %}

{% block title %}
    créer un lieu
{% endblock %}

