<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
        <img src="#" alt="logo" style="width:40px;">
    </a>

    <!-- Links -->
    <ul class="navbar-nav">
        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="#">Villes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Campus</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Déconnexion</a>
        </li>
    </ul>
</nav>